.project.shadow-large
  .project-image
    img(src='./images/blindphoto.jpg' alt='projet')
  // End .project-image
  .project-info
    h3 Volet automatis&eacute;
    p
      | Projet de Terminale STI2D
    p
      | r&eacute;alisation d&apos;une interface web d&eacute;di&eacute;e au pilotage d&apos;un volet roulant motoris&eacute;
      | et d&apos;un script de synchronisation port-s&eacute;rie &harr; serveur web.
    span.tags
      p Python
      p PHP
      p CSS
      p Shell
    a(href='https://gitlab.com/TheoGicquel/blind_pi') Voir sur gitlab 
  // End .project-info