doctype html
html(lang='fr')
  head
    include includes/head
  body
    include includes/navbar
    p i am an index
    a(href="./projets/indexProjets.html") indexProjetsLien  
    include includes/scripts

